name: Release docs

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:

    strategy:
      matrix:
        os: [windows-latest]
        dotnet: [3.1.302]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.201
    - name: Restore tools
      run: dotnet tool restore
    - name: Restore projects
      run: dotnet restore FSharp.Core\FSharp.Core.fsproj
    - name: Checkout fsharp master
      run: git clone https://github.com/dotnet/fsharp --depth 1 fsharp -b feature/docs
    - name: Build fsharp master (turn of CI build status)
      run: set CI=0 && set UpdateXlfOnBuild=true && cd fsharp && .\build -noVisualStudio
    - name: Checkout FSharp.Formatting master
      run: git clone https://github.com/fsprojects/FSharp.Formatting --depth 1 FSharp.Formatting 
    - name: Build FSharp.Formatting master
      run: cd FSharp.Formatting && .\build -t Build
    - name: Run fsdocs
      run: FSharp.Formatting\src\FSharp.Formatting.CommandTool\bin\Release\netcoreapp3.1\fsdocs.exe build --sourcefolder fsharp
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./output
        publish_branch: gh-pages
        force_orphan: true
